<p id="notice"><%= notice %></p>

<h1>Listing Cms Shows</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Shows</th>
    </tr>
  </thead>

  <tbody>
    <% @cms_shows.each do |cms_show| %>
      <tr>
        <td><%= link_to 'Show', cms_show %></td>
        <td><%= link_to 'Edit', edit_cms_show_path(cms_show) %></td>
        <td><%= link_to 'Destroy', cms_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Show', new_cms_show_path %>
