<p id="notice"><%= notice %></p>

<h1>Pages</h1>

<div class="row">

  <div class="col-lg-10">
    <% @cms_pages.each do |cms_page| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= cms_page.title %></h3>
        </div>
        <div class="panel-body">
          <%= cms_page.content.truncate(100) %>
        </div>
        <div class="panel-footer">
          <%= link_to edit_cms_page_path(cms_page), class: "btn btn-primary" do %>
            <span class="glyphicon glyphicon-pencil"></span> Edit&nbsp;
          <% end %>
          <%= link_to cms_page, class: "btn btn-primary" do %>
            <span class="glyphicon glyphicon-new-window"></span> Visit&nbsp;
          <% end %>
          <%= link_to cms_page, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span> Delete&nbsp;
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-2">
    <%= link_to 'New Page', new_cms_page_path, class: "btn btn-primary btn-block" %>
  </div>
</div>
