<!DOCTYPE html>
<html>
<head>
  <title> <%= "MeddleCMS | #{ENV["STATION_NAME"]}" %> </title>
  <%= stylesheet_link_tag    'backend', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8">
        <% if member_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_member_session_path, :method => :delete) %>
        </li>
      <% else %>
        <li>
        <%= link_to('Login', new_member_session_path)  %>
        </li>
      <% end %>
          <%= yield %>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
    <% console %>
</body>
</html>
