<p id="notice"><%= notice %></p>

<h1>Listing Members</h1>

    <% @members.each do |m| %>
        <span style="font-weight:bold"><%= m.id %></span> <%= m.email %> [ <%= link_to 'View', m %> | <%= link_to 'Edit', edit_member_path(m) %>
           | <span style="color:grey">Destroy Disabled</span> ] <br />
    <% end %>

<br>

<%= link_to 'New Member', new_member_path %>
